<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
<div class="col-md-6 offset-md-3">
<h3> Detalle del Producto</h3>
<div>
    <div>
        <label><b>ID Producto :</b>{{producto.idProducto}}</label>
    </div>
    <div>
        <label><b>Nombre :</b>{{producto.nombreProd}}</label>
    </div>
    <div>
        <label><b>Descriccion :</b>{{producto.descripcionProd}}</label>
    </div>
    <div>
        <label><b>precio :</b>{{producto.precioProd}}</label>
    </div>
    <div>
        <label><b>Unidedades PRoducto :</b>{{producto.uniMedidaProd}}</label>
    </div>
</div>
</div>
