<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <!-- app-routing.module.ts-->
        <li class="nav-item">
            <a routerLink="orden" routerLinkActive="active" class="nav-link">Lista Orden Compra</a>
        </li>
        <li class="nav-item">
            <a routerLink="registrarOrden" routerLinkActive="active" class="nav-link">Registrar Orden Compra</a>
        </li>
        <!--  
        <li class="nav-item">
            <a routerLink="actualizar-empleado" routerLinkActive="active" class="nav-link">Actualizar Empleados</a>
        </li>
        -->
        <li class="nav-item">
            <a routerLink="producto" routerLinkActive="active" class="nav-link">Lista productos</a>
        </li>
        <li class="nav-item">
            <a routerLink="registrarProducto" routerLinkActive="active" class="nav-link">Registrar Producto</a>
        </li>
    </ul>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container"> 
<!--app-lista-orden-comp></app-lista-orden-comp-->
<!-- componente configurado en app-routing.module.ts-->
<router-outlet></router-outlet>
</div>