<h2> Lista Ordenes de Compra</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID Compra</th>
            <th>ID Cliente</th>
            <th>Nombre Cliente</th>
            <th>ID Fecha</th>
            <th>Descripcion</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let orden of ordens">
           <td>{{orden.idOrdCompra}}</td>
           <td>{{orden.idCliente}}</td>
           <td>{{orden.nombrecliente}}</td>
           <td>{{orden.fecha}}</td>
           <td>{{orden.descripcion_orden}}</td>
           <td>{{orden.total}}</td>
           <td>
            <!--  
           <button (click)= "actualizarEmpleado(empleado.id)" class="btn btn-info">Editar</button>
           <button (click)= "eliminarEmpleado(empleado.id)" class="btn btn-danger" style="margin-left : 10px;">Eliminar</button>
           <button (click)= "verDetallesDelEmpleado(empleado.id)" class="btn btn-primary" style="margin-left : 10px;">Detalle</button>
           -->
        </tr>
    </tbody>
</table>
